<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @list.photo.key? ? cl_image_path(@list.photo.key) : image_path("cinema.jpg") %>')">
  <div class="container">
    <%= link_to "Delete this list", list_path(@list), class: "btn-delete", data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } %>
    <h1 class="text-center"><%= @list.name %></h1>
  </div>
</div>
<div class="container my-5">
  <div class="row my-3">
    <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <div class="col-12 col-sm-6 mb-4">
      <div class="card-bookmark">
        <%= image_tag movie.poster_url, alt: movie.title %>
          <div class="card-bookmark-infos">
            <div>
              <strong><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
              <small class="text-muted"><%= movie.overview %></small>
            </div>
          </div>
          <div class="card-bookmark-comments">
            <div>
              <i class="fas fa-quote-left me-2"></i><small class="flex-grow-1"><%= bookmark.comment %></small>
            </div>
            <div class="destroy">
              <%= link_to "Delete", bookmark_path(bookmark.list), class: "btn btn-info", data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } %>
            </div>
          </div>
      </div>
    </div>
    <% end %>
  </div>
    <div class="bg-white rounded p-3 my-3">
      <h3 class="text-center">Add a bookmark</h3>
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie, prompt: "Select a movie" %>
          <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
          <div class="actions">
            <%= f.submit class: "btn btn-info" %>
          </div>
        <% end %>
    </div>
    <div class="bg-white rounded p-3 my-4">
      <h3 class="text-center">Review</h3>
        <% if @list.reviews.empty? %>
          <small><em class="text-muted">Be the first one to review this list</em></small>
        <% end %>
        <% @list.reviews.each do |review| %>
          <div>
            <% review.rating.times do %>
              <i class="fas fa-star star-yellow"></i>
            <% end %>
            <p class="mb-0"><%= review.comment %></p>
          </div>
          <hr>
        <% end %>
        <div class="add-review mt-4">
          <h5>Add your review</h5>
          <%= simple_form_for [@list, @review] do |f| %>
            <%= f.input :comment, placeholder: "Add your review here..." %>
            <%= f.input :rating, as: :select, collection: (1..5).to_a, required: true, prompt: "What's your rating", input_html: { data: { controller: "star-rating" } } %>
            <div class="actions">
              <%= f.submit class:"btn btn-info" %>
            </div>
          <% end %>
        </div>
    </div>
</div>
